@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Pages/Index.razor.rz.scp.css */
.statistics-bg[b-x70cvu78cj] {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
}

.statistics-wrap[b-x70cvu78cj] {
    overflow: hidden;
    position: relative;
}

.statistics-content[b-x70cvu78cj] {
    position: absolute;
    z-index: 1;
    width: 95%;
}

.upgrades-bg[b-x70cvu78cj] {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
}

.upgrades-wrap[b-x70cvu78cj] {
    overflow: hidden;
    position: relative;
}

.upgrades-content[b-x70cvu78cj] {
    position: absolute;
    z-index: 1;
    width: 95%;

}

.outlined-text[b-x70cvu78cj] {
    color: #f9d76f;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #000000;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-a4vhw0uta9] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("images/background.png");
    background-repeat: round;
    height: 100vh;
    width: 100vw;
}

main[b-a4vhw0uta9] {
    flex: 1;
}

article[b-a4vhw0uta9] {
    height: 100%;
}
