@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Pages/Index.razor.rz.scp.css */
.statistics-bg[b-x70cvu78cj] {
    opacity: 0.5;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.statistics-wrap[b-x70cvu78cj] {
    overflow: hidden;
    position: relative;
}

.statistics-content[b-x70cvu78cj] {
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.upgrades-bg[b-x70cvu78cj] {
    opacity: 0.5;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.upgrades-wrap[b-x70cvu78cj] {
    overflow: hidden;
    position: relative;
}

.upgrades-content[b-x70cvu78cj] {
    position: absolute;
    z-index: 1;
    width: 95%;
    max-height: 100%;
}

.outlined-text[b-x70cvu78cj] {
    color: #f9d76f;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #000000;
}

.calendar-wrap[b-x70cvu78cj] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-image[b-x70cvu78cj] {
    width: 100%;
}

.calendar-image:active[b-x70cvu78cj] {
    width: 90%;
}

.upgrade-element[b-x70cvu78cj] {
    display: flex;
    margin-bottom: 10px;
    background-color: #fbf5e3;
    justify-content: space-between;
}

.upgrade-icon[b-x70cvu78cj] {
    min-width: 50px;
    min-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
}

.upgrades-list[b-x70cvu78cj] {
    max-height: 500px;
    overflow-y: scroll;
}

.upgrade-info[b-x70cvu78cj] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.big-btn[b-x70cvu78cj] {
    height: 100%;
}
/* /Shared/MainLayout.razor.rz.scp.css */

