@page "/"
@using System.Timers

<PageTitle>Счетчик 3 сентября</PageTitle>
<div class="container">
    <div class="row">
        <div class="col border border-primary">
            Статистика на фоне шуфутинского
        </div>
        <div class="col border border-primary d-flex justify-content-center flex-column">
            
            <h1>Счетчик 3 сентября</h1>
            
            <p role="status">Текущее 3 сентября номер: @currentCount</p>
            <img src="images/calendar.png" alt="" @onclick="IncrementCount"/>
            
        </div>
        <div class="col border border-primary">
            <h1>Апгрейды</h1>
            <h2>Можно купить:</h2>
            <button @onclick="BuyUpgrade">Гитара</button>
            
            <h2>Куплено:</h2>
        </div>
    </div>
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    
    protected override void OnInitialized()
    {
        List<int> upgrades = new List<int>();
        StartGame();
        base.OnInitialized();
    }

    private void StartGame()
    {
        var timer = new Timer(1000);
        timer.Elapsed += Update;
        timer.Enabled = true;
        BuyUpgrade();
    }
    
    private void Update(Object source, ElapsedEventArgs e)
    {
        currentCount++;
        StateHasChanged();
    }
    
    private void BuyUpgrade()
    {
        FirstUpgrade();
    }

    private void FirstUpgrade()
    {
        currentCount += 5000;
    }
}