@page "/"

<PageTitle>Счетчик 3 сентября</PageTitle>
<div class="container">
    <div class="row">
        <div class="col border border-primary">
            Статистика на фоне шуфутинского
        </div>
        <div class="col border border-primary">
            <h1>Счетчик 3 сентября</h1>
            
            <p role="status">Текущее 3 сентября номер: @currentCount</p>
            
            <button class="btn btn-primary" @onclick="IncrementCount">Сорвать</button>
        </div>
        <div class="col border border-primary">
            Апгрейды
        </div>
    </div>
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}