@page "/"
@using System.Timers
@using MadnessOf3rdSeptember.Upgrade

<PageTitle>Счетчик 3 сентября</PageTitle>
<div class="container">
    <div class="row">
        <div class="col border border-primary">
            Статистика на фоне шуфутинского
        </div>
        <div class="col border border-primary d-flex justify-content-center flex-column">
            
            <h1>Счетчик 3 сентября</h1>
            
            <p role="status">Текущее 3 сентября номер: @_gameState.CurrentScore</p>
            <img src="images/calendar.png" alt="" @onclick="IncrementScore"/>
            
        </div>
        <div class="col border border-primary">
            <h1>Апгрейды</h1>
            <h2>Можно купить:</h2>
            <button @onclick="BuyGuitar">Гитара @_gameState.Upgrades.First(x => x is Guitar).CurrentCost</button>
            
            <h2>Куплено:</h2>
        </div>
    </div>
</div>


@code {
    private GameState _gameState = new();

    private void IncrementScore()
    {
        _gameState.IncrementScore(1);
    }
    
    protected override void OnInitialized()
    {
        StartGame();
        base.OnInitialized();
    }

    private void StartGame()
    {
        var timer = new Timer(1000);
        timer.Elapsed += Update;
        
        timer.Enabled = true;
    }
    
    private void Update(Object source, ElapsedEventArgs e)
    {
        foreach (var upgrade in _gameState.Upgrades)
        {
            _gameState.IncrementScore(upgrade.CountByLevel * upgrade.CurrLevel);
        }
        
        StateHasChanged();
    }
    
    private void BuyGuitar()
    {
        var guitar =  _gameState.Upgrades.First(x => x is Guitar) as Guitar;
        _gameState.CurrentScore = guitar!.Buy(_gameState.CurrentScore);
    }
}