.statistics-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.statistics-wrap {
    overflow: hidden;
    position: relative;
}